* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

html,
body {
	overflow: hidden;
}

.floating-button {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1000;
	align-items: center;
  display: flex !important;
  gap: 5px;
	border: 1px solid #000;
}

ol li {
	list-style-type: none;
	cursor: pointer;
}

.active {
	border-bottom: 1px solid #000;
}


#help-box-content {
	position: fixed;
	bottom: 1em;
	left: 1em;
	padding: 1em;
	z-index: 1000;
	background-color: #fff;
}